DOMAIN=autumn-order.com
CONTACT_EMAIL=contact@example.com
POSTGRES_PASSWORD=

# Adjust log levels here
RUST_LOG=autumn_homepage_api=info,eve_esi=info,sea_orm_migration=info

# This database URL is only used for development, for production it is set within the docker-compose.yml
# Make certain to replace POSTGRES_PASSWORD within this URL to the one set above
DATABASE_URL=postgres://autumn_homepage_api:POSTGRES_PASSWORD@localhost:5432/autumn_homepage_api

# Leave unchanged unless you are certain what you are doing
POSTGRES_DB="autumn_homepage_api"
POSTGRES_USER="autumn_homepage_api"
